@keyframes trans {
  from {
    transform: translate(-100px, 0);
  }
  to {
    transform: translate(100px, 0);
  }
}

@keyframes translate {
  from {
    transform: translate(-20px, 0);
  }
  to {
    transform: translate(20px, 10px);
  }
}

@keyframes rotate {
  from {
    transform: rotate(-20deg);
  }
  to {
    transform: rotate(20deg);
  }
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

@keyframes skew {
  from {
    transform: skew(-10deg, -15deg);
  }
  to {
    transform: skew(10deg, 15deg);
  }
}

.page {
  margin: 0 auto;
  background-color: rgb(53, 53, 53);
  width: 1300px;
}

.main {
  display: flex;
  justify-content: center;
  height: 500px;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  border: 2px solid rgb(117, 117, 117);
  transition: background-color 0.5s ease-out;
  overflow: hidden;
  max-height: 390px;
}

.card:hover {
  background-color: rgb(90, 69, 117);
}

.card .card__image-rotate {
  transition: transform 5s ease-in-out;
}

.card .card__image-translate {
  transition: transform 0.1s ease-out;
}

.card .card__image-scale {
  transition: transform 1s ease-in-out;
}

.card .card__image-skew {
  transition: transform 2s ease-in-out;
}

.card__title {
  text-align: center;
  margin: 0 0 50px;
  color: whitesmoke;
  padding-top: 20px;
}

.card__title-rotate {
  animation: rotate 1s ease-in-out infinite alternate;
}

.card__title-translate {
  animation: translate 0.7s ease-in-out infinite alternate;
}

.card__title-scale {
  animation: scale 0.5s ease-in-out infinite alternate;
}

.card__title-skew {
  animation: skew 1.5s ease-in-out infinite alternate;
}

.card__image {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.card .card__image-rotate:hover {
  transform: rotate(360deg);
}

.card .card__image-translate:hover {
  transform: translate(40px, 20px);
}

.card .card__image-scale:hover {
  transform: scale(1.5);
}

.card .card__image-skew:hover {
  transform: skew(10deg, 15deg);
}

.header__title {
  margin: 50px 0 100px;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  color: whitesmoke;
  animation: trans 1s ease-in-out infinite alternate;
}
